nav{
    background: linear-gradient(#cab577,#dbceb0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    .logo{
        display: flex;
        align-items: center;

        img{
            height: 100px;
            width: 100px;
        }
        h3{
            font-size: 30px;
        }
    }

    ul{
        li{
            display: inline-block;
            margin: 0 15px;
            font-size: 18px;
            transition: 0.5s;
            &:hover{
                color: #c1502e;
                cursor: pointer;
                transform: scale(1.1);
            }
        }
    }
}